{% extends 'base.html.twig' %}

{% block title %}
    Mon profil
{% endblock %}

{% block body %}

    <h2>{{ user.userIdentifier }}</h2>

    {# TODO récupérer img téléchargée (itération 2) -> ok #}
    <div>
        <img src="{{ asset('img/photoProfil/' ~ user.photo_profil) }}" alt="{{ user.pseudo }}">
    </div>
    <div>Prénom : {{ user.prenom }}</div>
    <div>Nom : {{ user.nom }}</div>
    <div>Téléphone : {{ user.telephone }}</div>
    <div>Mail : {{ user.mail }}</div>
     <div>Campus : {{ user.campus }}</div>

    <br>
    <a href="{{ path('main_accueil') }}"><button>RETOUR</button></a>

{% endblock %}



