{% extends 'base.html.twig' %}

{% block title %}
    Profil de l'organisateur
{% endblock %}

{% block body %}

    <h2>{{ organisateur.pseudo }}</h2>

    <div>
{#        if elle existe#}
        {% if asset('img/photoProfil/' ~ organisateur.photoProfil) %}
        <img src="{{ asset('img/photoProfil/' ~ organisateur.photoProfil) }}" alt="{{ organisateur.pseudo }}">
        {% endif %}
    </div>

    <div>Prénom : {{ organisateur.prenom }}</div>
    <div>Nom : {{ organisateur.nom }}</div>
    <div>Téléphone : {{ organisateur.telephone }}</div>
    <div>Mail : {{ organisateur.mail }}</div>
    <div>Campus : {{ organisateur.campus.nom }}</div>
    <br>

{% endblock %}



