{% extends 'base.html.twig' %}

{% block title %}Campus{% endblock %}

{% block body %}
<h2>Filtrer les campus</h2>

    {# pas de formType pour un seul champ mais un queryBuilder dans le VilleController #}
    <form method="get" action="{{ path('campus_filtrer') }}">
        <label for="saisie">Le nom contient :</label>
        <input type="text" id="saisie" name="saisie" value="{{ saisie ?? '' }}" >
        <button type="submit">Rechercher</button>
    </form>

    {% if allCampus is not empty %}
        <table border>
            <thead>
            <tr>
                <th>Campus</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
                {% for campus in allCampus %}
                    <tr>
                        <td>{{ campus.nom }}</td>
                        <td>
                            {# liens Modifier / Supprimer #}
                            <a href="{{ path('campus_modifier', {'id': campus.id}) }}">Modifier </a>
                            <a href="{{ path('campus_supprimer', {'id': campus.id}) }}"> - Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                    <tr>
        {#                TODO : #}
        {#                <td> ajouter champs de saisie dans colonne campus </td>#}
{#                        <td>#}
{#                            <form method="get" action="{{ path('campus_ajouter', {'id': campus.id}) }}">#}
{#                                <label for="saisie">Ajouter</label>#}
{#                                <input type="text" id="saisie" name="saisie" value="{{ saisie ?? '' }}">#}
{#                            </form>#}
{#                        </td>#}
{#
        {#                <td> ajouter lien "Ajouter" pour ajouter en BDD  </td>#}
{#                        <td>#}
{#                            <form method="get" action="{{ path('campus_ajouter', {'id': campus.id}) }}">#}
{#                                <label for="saisie">Ajouter</label>#}
{#                                <button type="submit">Ajouter</button>#}
{#                            </form>#}
{#                        </td>#}

                    </tr>
            </tbody>
        </table>
    {% endif %}

{% endblock %}




