{% extends 'base.html.twig' %}

{% block body %}
    <div class="infos_user">
        <div class="date_jour">
            <h3>Date du jour : {{ dateDuJour | date ('d/m/Y') }}</h3>
        </div>
        <div class="user">
            <h3>Participant : {{ app.user.pseudo }}</h3>
        </div>
    </div>
    <div class="form_search">
        {{ form_start(filtresForm) }}
        {{ form_widget(filtresForm) }}
        <button type="submit">
            Rechercher
        </button>
        {{ form_end(filtresForm) }}
    </div>

    {% if sorties %}
        <table border>
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for sortie in sorties %}
                {% if sortie.etat.libelle is not same as "Créee" and sortie.etat.libelle is not same as "Clôturée" %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut | date ('d/m/Y') }}</td>
                        <td>{{ sortie.dateLimiteInscription | date ('d/m/Y') }}</td>
                        <td>{{ sortie.participants.count }}/{{ sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>
                            {% if sortie in app.user.sorties %}
                                X
                            {% endif %}
                        </td>
                        <td>{{ sortie.organisateur.nom }}</td>
                        <td>
                            {% if sortie.etat.libelle is not same as "Activité en cours" %}
                                <a href="{{ path('sortie_afficher', {'id': sortie.id}) }}">Afficher</a>
                            {% endif %}
                            {% if sortie in app.user.sorties and sortie.etat.libelle is same as "Ouverte" %}
                                <a href=""> - Se désister</a>
                            {% endif %}
                            {% if sortie not in app.user.sorties and sortie.etat.libelle is same as "Ouverte" and sortie.participants.count < sortie.nbInscriptionsMax %}
                                <a href="{{ path('sortie_inscription', {'id': sortie.id}) }}"> - S'inscrire</a>
                            {% endif %}
                            {% if sortie.organisateur is same as app.user and sortie.etat.libelle is same as "Activité en cours" %}
                                <a href="">Modifier</a>
                            {% endif %}
                            {% if sortie.organisateur is same as app.user and sortie.etat.libelle is same as "Activité en cours" %}
                                <a href=""> - Publier</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}

            </tbody>
        </table>

    {% endif %}

    <a href="{{ path('sortie_creation') }}">
        <button>Créer une sortie
        </button>
    </a>
{% endblock %}

{% block title %}
    {{ parent() }} | Accueil
{% endblock %}

