{% extends 'base.html.twig' %}
{% form_theme sortieForm 'formTheme/formTheme.html.twig' %}


    {% block title %}
        {{ parent() }} |Creation d'un événement !
    {% endblock %}

{% block body %}
    {# début du form #}
    {{ form_start(sortieForm) }}

    <div class="creation-sortie">
        {# découpage par champ #}
        {{ form_label(sortieForm.nom) }}
        {{ form_widget(sortieForm.nom) }}
        {{ form_errors(sortieForm.nom) }}
    </div>

    {# affichage du reste du form #}
    {{ form_rest(sortieForm) }}

    <a href="{{ path('sortie_accueil') }}"><button>Enregistrer</button></a>
    <a href="{{ path('sortie_accueil') }}"><button>Publier la sortie</button></a>
    <a href="{{ path('sortie_accueil') }}"><button>Annuler</button></a>
    {# fin du formulaire #}
    {{ form_end(sortieForm) }}
{% endblock %}
