{% extends 'base.html.twig' %}
{% form_theme sortieForm 'formTheme/formTheme.html.twig' %}

{% block title %}
    Ma sortie
{% endblock %}

{% block body %}
    {# début du form #}
    {{ form_start(sortieForm) }}

    <div class="creation-sortie">
        {# découpage par champ #}
        {{ form_label(sortieForm.nom) }}
        {{ form_widget(sortieForm.nom) }}
        {{ form_errors(sortieForm.nom) }}
    </div>

    {# affichage du reste du form #}
    {{ form_rest(sortieForm) }}

    <button>Enregistrer</button>
    <button>Publier</button>
    <button>Annuler</button>
    {# fin du formulaire #}
    {{ form_end(sortieForm) }}
{% endblock %}
