{% extends 'base.html.twig' %}

{% block body %}
    {# début du form #}
    {{ form_start(ModifierSortie) }}

    <div class="creation-sortie">
        {# découpage par champ #}
        {{ form_label(ModifierSortie.nom) }}
        {{ form_widget(ModifierSortie.nom) }}
        {{ form_errors(ModifierSortie.nom) }}
    </div>

    {# affichage du reste du form #}
    {{ form_rest(ModifierSortie) }}

    <a href="{{ path('main_accueil') }}"><button>Enregistrer</button></a>
    <a href="{{ path('main_accueil') }}"><button>Publier la sortie</button></a>
    <a href="{{ path('main_accueil') }}"><button type="button">Supprimer la sortie</button></a>
    <a href="{{ path('main_accueil') }}"><button type="button">Annuler</button></a>
    {# fin du formulaire #}
    {{ form_end(ModifierSortie) }}
{% endblock %}

{% block title %}
    {{ parent() }} | modifier sortie !
{% endblock %}

