{% extends 'base.html.twig' %}

{% block title %}Villes{% endblock %}

{% block body %}
<h2>Filtrer les villes</h2>

    <div class="input_search">
        <label for="ville-search">
            <input type="search">
                <a href="{{ path('ville_filtrer') }}">Rechercher</a>
        </label>
    </div>

<table>
    <thead>
        <tr>
            <th>Ville</th>
            <th>Code postal</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
    {% for ville in villes %}
        <tr>
            <td>{{ ville.nom }}</td>
            <td>{{ ville.codePostal }}</td>
            <td>
                {# liens Modifier / Supprimer #}
                <a href="{{ path('ville_modifier', {'id': ville.id}) }}">Modifier </a>
                <a href="{{ path('ville_supprimer', {'id': ville.id}) }}"> - Supprimer</a>
            </td>
        </tr>
    {% endfor %}
        <tr>
            {# TODO : #}
{#            <td> ajouter champs de saisie dans colonne ville </td>#}
{#            <td> ajouter champs de saisie dans colonne Code postal </td>#}
{#            <td> ajouter lien "Ajouter" pour ajouter en BDD </td>#}
        </tr>
    </tbody>
</table>


{% endblock %}
