{% extends 'base.html.twig' %}

{% block title %}Villes{% endblock %}

{% block body %}

<h2>Filtrer les villes</h2>

    {# pas de formType pour un seul champ mais un queryBuilder dans le VilleController #}
    <form method="get" action="{{ path('ville_filtrer') }}">
        <label for="saisie">Le nom contient :</label>
        <input type="text" id="saisie" name="saisie" value="{{ saisie ?? '' }} ">
        <button type="submit">Rechercher</button>
    </form>

    {% if villes is not empty %}
        <table border>
            <thead>
                <tr>
                    <th>Ville</th>
                    <th>Code postal</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
            {% for ville in villes %}
                <tr>
                    <td>{{ ville.nom }}</td>
                    <td>{{ ville.codePostal }}</td>
                    <td>
                        {# liens Modifier / Supprimer #}
                        <a href="{{ path('ville_modifier', {'id': ville.id}) }}">Modifier </a>
                        <a href="{{ path('ville_supprimer', {'id': ville.id}) }}"> - Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    {# TODO : #}
{#        #}{#            <td> ajouter champs de saisie dans colonne ville </td>#}
{#                    <td>#}
{#                        <form method="get" action="{{ path('ville_ajouter', {'id': ville.id}) }}">#}
{#                            <label for="saisie">Ajouter</label>#}
{#                            <input type="text" id="saisie" name="saisie" value="{{ saisie ?? '' }}">#}
{#                        </form>#}
{#                    </td>#}

{#        #}{#            <td> ajouter champs de saisie dans colonne Code postal </td>#}

{#                    #}

{#        #}{#            <td> ajouter lien "Ajouter" pour ajouter en BDD </td>#}
{#                    <td>#}
{#                        <form method="get" action="{{ path('ville_ajouter', {'id': ville.id}) }}">#}
{#                            <label for="saisie">Ajouter</label>#}
{#                            <button type="submit">Ajouter</button>#}
{#                        </form>#}
{#                    </td>#}
{#                </tr>#}

            </tbody>
        </table>
    {% endif %}

{% endblock %}
